In [1]:
from pyspark.sql import SparkSession

# Creating a spark session 
spark = (
    SparkSession.builder.appName("PreProcessing")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .getOrCreate()
)

from pyspark.sql import functions as F

22/10/10 01:53:58 WARN Utils: Your hostname, LAPTOP-RUK4TAOJ resolves to a loopback address: 127.0.1.1; using 172.25.209.181 instead (on interface eth0)
22/10/10 01:53:58 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/10/10 01:54:00 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
# School location dataset 
school_df = spark.read.option("header", "true").csv('../data/raw/school.csv')
school_df
df = school_df.where((F.col('Address_State') == "VIC"))
df = df.select('X', 'Y','School_Name',)
df

+-----------+------------+--------------------+
|          X|           Y|         School_Name|
+-----------+------------+--------------------+
| 146.666601|  -38.617713|Alberton Primary ...|
| 142.590393|  -38.386281|Allansford and Di...|
| 143.475649|  -37.084502|Avoca Primary School|
| 145.234722|  -36.901368|Avenel Primary Sc...|
|  145.21398|  -37.742675|Warrandyte Primar...|
| 144.342099|  -38.170672|Belmont Primary S...|
|144.4431207|-37.67302961|Bacchus Marsh Pri...|
| 143.853936|-37.56401278|Ballarat Primary ...|
|  146.88982|  -36.129214|Wodonga Primary S...|
| 145.354417|  -38.044094|Berwick Primary S...|
|143.3817175|-37.43852098|Beaufort Primary ...|
| 145.054635|  -37.968608|Cheltenham Primar...|
| 142.650844|  -38.347938|Cudgee Primary Sc...|
| 144.878345|  -37.838424|Newport Lakes Pri...|
| 142.039893|   -37.53087|Cavendish Primary...|
| 143.598336|  -38.337224|Colac Primary School|
| 144.222329|  -37.066595|Castlemaine Prima...|
| 144.204662|  -37.092935|Campbells Creek P...|
|143.8915581|-37.42411355|Creswick Primary ...|
| 144.249857|  -36.733207|California Gully ...|
+-----------+------------+--------------------+
only showing top 20 rows

In [4]:
# The income of Victoria OBS value for each quarter of time period
income_df = spark.read.option("header", "true").csv('../data/raw/income.csv')
df = income_df.where((F.col('REGION: Region')[0:1] == "2"))
df = df.select('OBS_VALUE', 'TIME_PERIOD: Time Period')
df

+---------+------------------------+
|OBS_VALUE|TIME_PERIOD: Time Period|
+---------+------------------------+
|   1296.1|                 2020-Q2|
|   1283.4|                 2020-Q4|
|   1260.9|                 2021-Q2|
|   1294.7|                 2021-Q4|
|   1295.1|                 2022-Q2|
|   1296.1|                 2020-Q2|
|   1283.4|                 2020-Q4|
|   1260.9|                 2021-Q2|
|   1294.7|                 2021-Q4|
|   1295.1|                 2022-Q2|
+---------+------------------------+

In [7]:
# Population of Victoria OBS value for each quarter of time period
population_df = spark.read.option("header", "true").csv('../data/raw/population.csv')
df = population_df.where((F.col('REGION: Region')[0:1] == "2"))
df = df.select('OBS_VALUE', 'TIME_PERIOD: Time Period')
df

+---------+------------------------+
|OBS_VALUE|TIME_PERIOD: Time Period|
+---------+------------------------+
|  6530852|                 2019-Q2|
|  6561572|                 2019-Q3|
|  6583405|                 2019-Q4|
|  6609129|                 2020-Q1|
|  6606149|                 2020-Q2|
|  6584353|                 2020-Q3|
|  6563465|                 2020-Q4|
|  6551771|                 2021-Q1|
|  6548040|                 2021-Q2|
|  6546470|                 2021-Q3|
|  6559941|                 2021-Q4|
+---------+------------------------+

In [5]:
# The household income of Victoria OBS value for each quarter of time period
household_df = spark.read.option("header", "true").csv('../data/raw/household.csv')
df = household_df.select('HIND: Total household income (weekly)', 'TIME_PERIOD: Time Period', 'OBS_VALUE')
df

+-------------------------------------+------------------------+---------+
|HIND: Total household income (weekly)|TIME_PERIOD: Time Period|OBS_VALUE|
+-------------------------------------+------------------------+---------+
|                   17: $4,000 or more|                    2021|    93846|
|                         6: $500-$649|                    2021|   259347|
|                    15: $3,000-$3,499|                    2021|   582333|
|                 1: Negative/Nil i...|                    2021|    71343|
|                    12: $1,750-$1,999|                    2021|   374670|
|                         4: $300-$399|                    2021|   202363|
|                         7: $650-$799|                    2021|   535302|
|                         3: $150-$299|                    2021|    82521|
|                   17: $4,000 or more|                    2021|  1058778|
|                 1: Negative/Nil i...|                    2021|    95101|
|                    15: $3,000-$3,499|                    2021|   523915|
|                    10: $1,250-$1,499|                    2021|   656141|
|                    12: $1,750-$1,999|                    2021|   505348|
|                 _N: All incomes n...|                    2021|    86874|
|                         4: $300-$399|                    2021|   168747|
|                    13: $2,000-$2,499|                    2021|  1043721|
|                            _T: Total|                    2021|  2732570|
|                   17: $4,000 or more|                    2021|  1152627|
|                         6: $500-$649|                    2021|   118319|
|                         7: $650-$799|                    2021|   358514|
+-------------------------------------+------------------------+---------+
only showing top 20 rows