In [3]:
from pyspark.sql import SparkSession

# Creating a spark session 
spark = (
    SparkSession.builder.appName("MAST30034 Project 1")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .getOrCreate()
)

from pyspark.sql import functions as F

22/09/20 18:01:54 WARN Utils: Your hostname, LAPTOP-RUK4TAOJ resolves to a loopback address: 127.0.1.1; using 172.17.39.25 instead (on interface eth0)
22/09/20 18:01:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/20 18:01:56 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
school_df = spark.read.option("header", "true").csv('../data/raw/school.csv')
school_df
cd = school_df.where((F.col('Address_State') == "VIC"))
cd = cd.select('X', 'Y','School_Name',)
cd.count()

+----------------+-----------+---------+--------------------+-----------+-------------+--------------------+--------------+----------------+-------------+----------------+---------------------+---------------------+----------------+------------+---------------+-------------+------+--------------------+-----------+------------+
|Education_Sector|Entity_Type|SCHOOL_NO|         School_Name|School_Type|School_Status|      Address_Line_1|Address_Line_2|    Address_Town|Address_State|Address_Postcode|Postal_Address_Line_1|Postal_Address_Line_2|     Postal_Town|Postal_State|Postal_Postcode|Full_Phone_No|LGA_ID|            LGA_Name|          X|           Y|
+----------------+-----------+---------+--------------------+-----------+-------------+--------------------+--------------+----------------+-------------+----------------+---------------------+---------------------+----------------+------------+---------------+-------------+------+--------------------+-----------+------------+
|      Government|          1|        1|Alberton Primary ...|    Primary|            O|   21 Thomson Street|          null|        Alberton|          VIC|            3971|    21 Thomson Street|                 null|        ALBERTON|         VIC|           3971| 03 5183 2412|   681|      Wellington (S)| 146.666601|  -38.617713|
|      Government|          1|        3|Allansford and Di...|    Primary|            O|        Frank Street|          null|      Allansford|          VIC|            3277|         Frank Street|                 null|      ALLANSFORD|         VIC|           3277| 03 5565 1382|   673|     Warrnambool (C)| 142.590393|  -38.386281|
|      Government|          1|        4|Avoca Primary School|    Primary|            O|  118 Barnett Street|          null|           Avoca|          VIC|            3467|           P O Box 12|                 null|           AVOCA|         VIC|           3467| 03 5465 3176|   599|        Pyrenees (S)| 143.475649|  -37.084502|
|      Government|          1|        8|Avenel Primary Sc...|    Primary|            O|  40 Anderson Street|          null|          Avenel|          VIC|            3664|   40 Anderson Street|                 null|          AVENEL|         VIC|           3664| 03 5796 2264|   643|     Strathbogie (S)| 145.234722|  -36.901368|
|      Government|          1|       12|Warrandyte Primar...|    Primary|            O|  5-11 Forbes Street|          null|      Warrandyte|          VIC|            3113|   5-11 Forbes Street|                 null|      WARRANDYTE|         VIC|           3113| 03 9844 3537|   421|      Manningham (C)|  145.21398|  -37.742675|
|      Government|          1|       26|Belmont Primary S...|    Primary|            O| 51 Mt Pleasant Road|          null|         Belmont|          VIC|            3216|          P O Box 471|                 null|         BELMONT|         VIC|           3216| 03 5243 2972|   275| Greater Geelong (C)| 144.342099|  -38.170672|
|      Government|          1|       28|Bacchus Marsh Pri...|    Primary|            O|56-62 Lerderderg ...|          null|   Bacchus Marsh|          VIC|            3340|          P O Box 334|                 null|   Bacchus Marsh|         VIC|           3340| 03 5367 2745|   515|       Moorabool (S)|144.4431207|-37.67302961|
|      Government|          1|       33|Ballarat Primary ...|    Primary|            O|     401 Dana Street|          null|        Ballarat|          VIC|            3350|      401 Dana Street|                 null|        BALLARAT|         VIC|           3350| 03 5332 1301|    57|        Ballarat (C)| 143.853936|-37.56401278|
|      Government|          1|       37|Wodonga Primary S...|    Primary|            O|     Brockley Street|          null|         Wodonga|          VIC|            3690|           PO Box 329|                 null|         WODONGA|         VIC|           3689| 02 6048 0300|   717|         Wodonga (C)|  146.88982|  -36.129214|
|      Government|          1|       40|Berwick Primary S...|    Primary|            O|37 Fairholme Boul...|          null|         Berwick|          VIC|            3806| 37 Fairholme Boul...|                 null|         Berwick|         VIC|           3806| 03 9707 1026|   161|           Casey (C)| 145.354417|  -38.044094|
|      Government|          1|       60|Beaufort Primary ...|    Primary|            O|      2/37 Park Road|          null|        Beaufort|          VIC|            3373|           P O Box 18|                 null|        BEAUFORT|         VIC|           3373| 03 5349 2490|   599|        Pyrenees (S)|143.3817175|-37.43852098|
|      Government|          1|       84|Cheltenham Primar...|    Primary|            O|    231 Charman Road|          null|      Cheltenham|          VIC|            3192|     231 Charman Road|                 null|      CHELTENHAM|         VIC|           3192| 03 8585 3200|    91|         Bayside (C)| 145.054635|  -37.968608|
|      Government|          1|      105|Cudgee Primary Sc...|    Primary|            O|   3 Hallowells Road|          null|          Cudgee|          VIC|            3265|    3 Hallowells Road|                 null|          CUDGEE|         VIC|           3265| 03 5567 6346|   549|           Moyne (S)| 142.650844|  -38.347938|
|      Government|          1|      113|Newport Lakes Pri...|    Primary|            O|    Elizabeth Street|          null|         Newport|          VIC|            3015|     Elizabeth Street|                 null|         NEWPORT|         VIC|           3015| 03 9391 8942|   311|     Hobsons Bay (C)| 144.878345|  -37.838424|
|      Government|          1|      116|Cavendish Primary...|    Primary|            O|  8-10 Barker Street|          null|       Cavendish|          VIC|            3314|           P O Box 28|                 null|       CAVENDISH|         VIC|           3314| 03 5574 2282|   626|Southern Grampian...| 142.039893|   -37.53087|
|      Government|          1|      117|Colac Primary School|    Primary|            O|53-65 Murray Stre...|          null|           Colac|          VIC|            3250|          P O Box 325|                 null|           COLAC|         VIC|           3250| 03 5231 2560|   175|     Colac-Otway (S)| 143.598336|  -38.337224|
|      Government|          1|      119|Castlemaine Prima...|    Primary|            O|Cnr Mostyn & Urqu...|          null|     Castlemaine|          VIC|            3450|          P O Box 448|                 null|     CASTLEMAINE|         VIC|           3450| 03 5472 1452|   543| Mount Alexander (S)| 144.222329|  -37.066595|
|      Government|          1|      120|Campbells Creek P...|    Primary|            O|           Main Road|          null| Campbells Creek|          VIC|            3451|            Main Road|                 null| CAMPBELLS CREEK|         VIC|           3451| 03 5472 2180|   543| Mount Alexander (S)| 144.204662|  -37.092935|
|      Government|          1|      122|Creswick Primary ...|    Primary|            O|    67 Napier Street|          null|        Creswick|          VIC|            3363|           P O Box 67|                 null|        CRESWICK|         VIC|           3363| 03 5345 2044|   291|         Hepburn (S)|143.8915581|-37.42411355|
|      Government|          1|      123|California Gully ...|    Primary|            O|  4-14 Staley Street|          null|California Gully|          VIC|            3556|           P O Box 88|                 null|CALIFORNIA GULLY|         VIC|           3556| 03 5446 8393|   262| Greater Bendigo (C)| 144.249857|  -36.733207|
+----------------+-----------+---------+--------------------+-----------+-------------+--------------------+--------------+----------------+-------------+----------------+---------------------+---------------------+----------------+------------+---------------+-------------+------+--------------------+-----------+------------+
only showing top 20 rows

In [8]:
income_df = spark.read.option("header", "true").csv('../data/raw/income.csv')
cd = income_df.where((F.col('REGION: Region')[0:1] == "2"))
cd = cd.select('OBS_VALUE', 'TIME_PERIOD: Time Period')
cd

+---------+------------------------+
|OBS_VALUE|TIME_PERIOD: Time Period|
+---------+------------------------+
|   1296.1|                 2020-Q2|
|   1283.4|                 2020-Q4|
|   1260.9|                 2021-Q2|
|   1294.7|                 2021-Q4|
|   1295.1|                 2022-Q2|
|   1296.1|                 2020-Q2|
|   1283.4|                 2020-Q4|
|   1260.9|                 2021-Q2|
|   1294.7|                 2021-Q4|
|   1295.1|                 2022-Q2|
+---------+------------------------+

In [11]:
population_df = spark.read.option("header", "true").csv('../data/raw/population.csv')
cd = population_df.where((F.col('REGION: Region')[0:1] == "2"))
cd = cd.select('OBS_VALUE', 'TIME_PERIOD: Time Period')
cd

+---------+------------------------+
|OBS_VALUE|TIME_PERIOD: Time Period|
+---------+------------------------+
|  6530852|                 2019-Q2|
|  6561572|                 2019-Q3|
|  6583405|                 2019-Q4|
|  6609129|                 2020-Q1|
|  6606149|                 2020-Q2|
|  6584353|                 2020-Q3|
|  6563465|                 2020-Q4|
|  6551771|                 2021-Q1|
|  6548040|                 2021-Q2|
|  6546470|                 2021-Q3|
|  6559941|                 2021-Q4|
+---------+------------------------+

In [17]:
immi_df = spark.read.option("header", "true").csv('../data/raw/immi.csv')
cd = immi_df.where((F.col('STATE_DEP: State of Departure')[0:1] == "2"))
cd = cd.select('OBS_VALUE', 'TIME_PERIOD: Time Period')
cd

+---------+------------------------+
|OBS_VALUE|TIME_PERIOD: Time Period|
+---------+------------------------+
|      608|                 2020-Q3|
|      953|                 2020-Q4|
|      784|                 2021-Q1|
|     1137|                 2021-Q2|
|      965|                 2021-Q3|
|      984|                 2021-Q4|
|     1495|                 2020-Q3|
|     2132|                 2020-Q4|
|     2141|                 2021-Q1|
|     2499|                 2021-Q2|
|     3099|                 2021-Q3|
|     2626|                 2021-Q4|
|      660|                 2020-Q3|
|      756|                 2020-Q4|
|      690|                 2021-Q1|
|      851|                 2021-Q2|
|     1284|                 2021-Q3|
|     1072|                 2021-Q4|
|     1768|                 2020-Q3|
|     2416|                 2020-Q4|
+---------+------------------------+
only showing top 20 rows

In [22]:
household_df = spark.read.option("header", "true").csv('../data/raw/household.csv')
cd = household_df.select('HIND: Total household income (weekly)', 'TIME_PERIOD: Time Period', 'OBS_VALUE')
cd

+-------------------------------------+------------------------+---------+
|HIND: Total household income (weekly)|TIME_PERIOD: Time Period|OBS_VALUE|
+-------------------------------------+------------------------+---------+
|                   17: $4,000 or more|                    2021|    93846|
|                         6: $500-$649|                    2021|   259347|
|                    15: $3,000-$3,499|                    2021|   582333|
|                 1: Negative/Nil i...|                    2021|    71343|
|                    12: $1,750-$1,999|                    2021|   374670|
|                         4: $300-$399|                    2021|   202363|
|                         7: $650-$799|                    2021|   535302|
|                         3: $150-$299|                    2021|    82521|
|                   17: $4,000 or more|                    2021|  1058778|
|                 1: Negative/Nil i...|                    2021|    95101|
|                    15: $3,000-$3,499|                    2021|   523915|
|                    10: $1,250-$1,499|                    2021|   656141|
|                    12: $1,750-$1,999|                    2021|   505348|
|                 _N: All incomes n...|                    2021|    86874|
|                         4: $300-$399|                    2021|   168747|
|                    13: $2,000-$2,499|                    2021|  1043721|
|                            _T: Total|                    2021|  2732570|
|                   17: $4,000 or more|                    2021|  1152627|
|                         6: $500-$649|                    2021|   118319|
|                         7: $650-$799|                    2021|   358514|
+-------------------------------------+------------------------+---------+
only showing top 20 rows