In [256]:
import json
import pandas as pd

In [257]:
f = open("../data/raw/domain_scraped_raw.json")
rental_data = json.load(f)

rental_df = pd.DataFrame.from_dict(rental_data, orient = 'index')
rental_df2 = pd.DataFrame.from_dict(rental_data, orient = 'index')
rental_final_df= pd.DataFrame.from_dict(rental_data, orient = 'index')

In [258]:
rental_df.head()

,name,prop_type,cost_text,coordinates,rooms,add_feat
https://www.domain.com.au/3309-18-hoff-boulevard-southbank-vic-3006-16086881,3309/18 Hoff Boulevard Southbank VIC 3006,Apartment / Unit / Flat,$650 per week,"[-37.825817, 144.9640414]","[[2 Beds], [2 Baths], []]","[Built in wardrobes, Gym, Ducted Heating, Duct..."
https://www.domain.com.au/5605-70-southbank-boulevard-southbank-vic-3006-14433279,5605/70 Southbank Boulevard Southbank VIC 3006,Apartment / Unit / Flat,$470 per week,"[-37.8231931, 144.9639881]","[[1 Bed], [1 Bath], []]","[Gas, Internal Laundry, INSIDE, Gym, Intercom,..."
https://www.domain.com.au/229-22-kavanagh-street-southbank-vic-3006-16087424,229/22 Kavanagh Street Southbank VIC 3006,Apartment / Unit / Flat,$420 per week - partially furnished,"[-37.82284060000001, 144.9658569]","[[1 Bed], [1 Bath], [1 Parking]]","[Gym, Heating, Balcony Deck, Furnished]"
https://www.domain.com.au/1112-39-coventry-street-southbank-vic-3006-15517601,1112/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,$550 per week,"[-37.8294033, 144.9692407]","[[2 Beds], [1 Bath], [1 Parking]]","[Built in wardrobes, Gas, Internal Laundry, Ai..."
https://www.domain.com.au/1913-39-coventry-street-southbank-vic-3006-15308045,1913/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,$550 per week,"[-37.8294033, 144.9692407]","[[2 Beds], [1 Bath], [1 Parking]]","[Air conditioning, Built in wardrobes, Gas, In..."

In [259]:
rental_df.columns

Index(['name', 'prop_type', 'cost_text', 'coordinates', 'rooms', 'add_feat'], dtype='object')

In [260]:
# forgot to get type 
rental_df.shape

(14679, 6)

# Process the Cost of Rent to a standard unit (By per week)

In [261]:
import regex

In [262]:
# Now to fix the formatting of the cost to be X amount per week 
# Firstly want to remove all numbers to see possible strings that we could use regex for:
#rental_df['cost_text'] = rental_df['cost_text'].str.replace('\d+', '').str.replace('$', '').str.lower().str.replace('[^A-Za-z0-9.,]+', '')
rental_df['cost_text'] = rental_df['cost_text'].str.replace('\d+', '').str.replace('$', '').str.lower().str.replace('[^A-Za-z0-9.,]+', '')

/tmp/ipykernel_1133/325004005.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  rental_df['cost_text'] = rental_df['cost_text'].str.replace('\d+', '').str.replace('$', '').str.lower().str.replace('[^A-Za-z0-9.,]+', '')
/tmp/ipykernel_1133/325004005.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  rental_df['cost_text'] = rental_df['cost_text'].str.replace('\d+', '').str.replace('$', '').str.lower().str.replace('[^A-Za-z0-9.,]+', '')

In [263]:
rental_df.head()

,name,prop_type,cost_text,coordinates,rooms,add_feat
https://www.domain.com.au/3309-18-hoff-boulevard-southbank-vic-3006-16086881,3309/18 Hoff Boulevard Southbank VIC 3006,Apartment / Unit / Flat,perweek,"[-37.825817, 144.9640414]","[[2 Beds], [2 Baths], []]","[Built in wardrobes, Gym, Ducted Heating, Duct..."
https://www.domain.com.au/5605-70-southbank-boulevard-southbank-vic-3006-14433279,5605/70 Southbank Boulevard Southbank VIC 3006,Apartment / Unit / Flat,perweek,"[-37.8231931, 144.9639881]","[[1 Bed], [1 Bath], []]","[Gas, Internal Laundry, INSIDE, Gym, Intercom,..."
https://www.domain.com.au/229-22-kavanagh-street-southbank-vic-3006-16087424,229/22 Kavanagh Street Southbank VIC 3006,Apartment / Unit / Flat,perweekpartiallyfurnished,"[-37.82284060000001, 144.9658569]","[[1 Bed], [1 Bath], [1 Parking]]","[Gym, Heating, Balcony Deck, Furnished]"
https://www.domain.com.au/1112-39-coventry-street-southbank-vic-3006-15517601,1112/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,perweek,"[-37.8294033, 144.9692407]","[[2 Beds], [1 Bath], [1 Parking]]","[Built in wardrobes, Gas, Internal Laundry, Ai..."
https://www.domain.com.au/1913-39-coventry-street-southbank-vic-3006-15308045,1913/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,perweek,"[-37.8294033, 144.9692407]","[[2 Beds], [1 Bath], [1 Parking]]","[Air conditioning, Built in wardrobes, Gas, In..."

In [264]:
# Now check for possible strings:
possible_str = rental_df['cost_text'].value_counts()

In [265]:
#pd.set_option("display.max_rows", None)

In [266]:
possible_str

perweek                4645
                       3152
.                      1958
pw                      941
.perweek                840
                       ...
pwpercalendarmonth        1
breathtakingviewspw       1
largetownhouse            1
percalendarweek           1
percalendarmonth          1
Name: cost_text, Length: 368, dtype: int64

In [267]:
# From this we can see that most of the listings are by per week with very few being based off month
# for now just take the ones which dont have monthly

In [268]:
# remove the ones with pcm  and per month
# these will be the ones with a slash or space inbetween the digits, so we filter these out
rental_df2['cost_text'] = rental_df2['cost_text'].str.replace('\d+', '').str.replace('$', '').str.lower().str.replace('[^A-Za-z0-9.-/]+', '')

/tmp/ipykernel_1133/1537556796.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  rental_df2['cost_text'] = rental_df2['cost_text'].str.replace('\d+', '').str.replace('$', '').str.lower().str.replace('[^A-Za-z0-9.-/]+', '')
/tmp/ipykernel_1133/1537556796.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  rental_df2['cost_text'] = rental_df2['cost_text'].str.replace('\d+', '').str.replace('$', '').str.lower().str.replace('[^A-Za-z0-9.-/]+', '')

In [269]:
len(rental_df2)

14679

In [270]:
rental_df2 = rental_df2[~rental_df2['cost_text'].str.contains(' ')]
rental_df2 = rental_df2[~rental_df2['cost_text'].str.contains('/|-')]
rental_df2 = rental_df2[~rental_df2['cost_text'].str.contains('pcm|month|p.w|..')]

In [271]:
rental_df2['cost_text'].value_counts()

     3217
.    2113
Name: cost_text, dtype: int64

In [272]:
len(rental_df2)

5330

In [273]:
# now that we have removed the rows with those units we save the ones we want and create a csv for later use:
rental_df2.head()

,name,prop_type,cost_text,coordinates,rooms,add_feat
https://www.domain.com.au/817-39-coventry-street-southbank-vic-3006-10766251,817/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,,"[-37.8294033, 144.9692407]","[[2 Beds], [1 Bath], []]","[Air conditioning, Built in wardrobes, Furnish..."
https://www.domain.com.au/1505-39-coventry-street-southbank-vic-3006-16098319,1505/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,,"[-37.8294033, 144.9692407]","[[2 Beds], [2 Baths], [1 Parking]]","[Internal Laundry, INSIDE, Gym, Intercom, Buil..."
https://www.domain.com.au/3306-151-city-road-southbank-vic-3006-16100837,3306/151 City Road Southbank VIC 3006,Apartment / Unit / Flat,.,"[-37.8236674, 144.9631638]","[[2 Beds], [2 Baths], [1 Parking]]","[Gas, Internal Laundry, Heating, Secure Parkin..."
https://www.domain.com.au/168-100-kavanagh-street-southbank-vic-3006-16100841,168/100 Kavanagh Street Southbank VIC 3006,Apartment / Unit / Flat,.,"[-37.8251485, 144.9627575]","[[1 Bed], [1 Bath], [1 Parking]]","[Gas, Internal Laundry, Intercom, Secure Parki..."
https://www.domain.com.au/1412-151-city-road-southbank-vic-3006-16100836,1412/151 City Road Southbank VIC 3006,Apartment / Unit / Flat,.,"[-37.8236674, 144.9631638]","[[2 Beds], [2 Baths], [1 Parking]]","[Gas, Internal Laundry, Secure Parking, Gym, H..."

In [274]:
keep = rental_df2['name'].tolist()

In [275]:
len(keep)

5330

In [276]:
rental_final_df = rental_final_df[rental_final_df['name'].isin(keep)]

In [277]:
# now we once again process the prices, this time to just be numbers and punctuation
rental_final_df['cost_text'] = rental_final_df['cost_text'].str.replace('$', '').str.lower().str.replace('[^0-9.]+', '')

/tmp/ipykernel_1133/717401521.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  rental_final_df['cost_text'] = rental_final_df['cost_text'].str.replace('$', '').str.lower().str.replace('[^0-9.]+', '')
/tmp/ipykernel_1133/717401521.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  rental_final_df['cost_text'] = rental_final_df['cost_text'].str.replace('$', '').str.lower().str.replace('[^0-9.]+', '')

In [278]:
import numpy as np

In [279]:
# should be fine now other than some which have empty prices we now remove these:
rental_final_df['cost_text'].replace('', np.nan, inplace=True)

In [280]:
rental_final_df.dropna(subset = ['cost_text'], inplace=True)

In [281]:
remove = rental_final_df[rental_final_df['cost_text'] == '.']

In [282]:
rental_final_df = rental_final_df[~rental_final_df['name'].isin(remove['name'])]

In [283]:
#rental_final_df  = rental_final_df.reset_index()

In [284]:
rental_final_df.head()

,name,prop_type,cost_text,coordinates,rooms,add_feat
https://www.domain.com.au/817-39-coventry-street-southbank-vic-3006-10766251,817/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,460,"[-37.8294033, 144.9692407]","[[2 Beds], [1 Bath], []]","[Air conditioning, Built in wardrobes, Furnish..."
https://www.domain.com.au/1505-39-coventry-street-southbank-vic-3006-16098319,1505/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,650,"[-37.8294033, 144.9692407]","[[2 Beds], [2 Baths], [1 Parking]]","[Internal Laundry, INSIDE, Gym, Intercom, Buil..."
https://www.domain.com.au/3306-151-city-road-southbank-vic-3006-16100837,3306/151 City Road Southbank VIC 3006,Apartment / Unit / Flat,610.00,"[-37.8236674, 144.9631638]","[[2 Beds], [2 Baths], [1 Parking]]","[Gas, Internal Laundry, Heating, Secure Parkin..."
https://www.domain.com.au/168-100-kavanagh-street-southbank-vic-3006-16100841,168/100 Kavanagh Street Southbank VIC 3006,Apartment / Unit / Flat,480.00,"[-37.8251485, 144.9627575]","[[1 Bed], [1 Bath], [1 Parking]]","[Gas, Internal Laundry, Intercom, Secure Parki..."
https://www.domain.com.au/1412-151-city-road-southbank-vic-3006-16100836,1412/151 City Road Southbank VIC 3006,Apartment / Unit / Flat,620.00,"[-37.8236674, 144.9631638]","[[2 Beds], [2 Baths], [1 Parking]]","[Gas, Internal Laundry, Secure Parking, Gym, H..."

In [285]:
rental_final_df.to_csv("../data/curated/base_rental.csv", index = False)

# Process the Rooms available

In [286]:
room_list = rental_final_df['rooms'].tolist()

In [287]:
type(rental_final_df['rooms'])

pandas.core.series.Series

In [288]:
rental_final_df['rooms'].head()

https://www.domain.com.au/817-39-coventry-street-southbank-vic-3006-10766251               [[2 Beds], [1 Bath], []]
https://www.domain.com.au/1505-39-coventry-street-southbank-vic-3006-16098319    [[2 Beds], [2 Baths], [1 Parking]]
https://www.domain.com.au/3306-151-city-road-southbank-vic-3006-16100837         [[2 Beds], [2 Baths], [1 Parking]]
https://www.domain.com.au/168-100-kavanagh-street-southbank-vic-3006-16100841      [[1 Bed], [1 Bath], [1 Parking]]
https://www.domain.com.au/1412-151-city-road-southbank-vic-3006-16100836         [[2 Beds], [2 Baths], [1 Parking]]
Name: rooms, dtype: object

In [289]:
rooms_df = pd.DataFrame(room_list,columns = ['Beds','Baths','Parking'])

ValueError: 3 columns passed, passed data had 4 columns

In [ ]:
rooms_df.head()

NameError: name 'rooms_df' is not defined

# Process Additional features

In [290]:
import ast

In [291]:
# change all to lower case so can get matches

rental_final_df['add_feat'] = rental_final_df['add_feat'].apply(lambda x: [w.lower() for w in x])

In [292]:
rental_final_df.head()

,name,prop_type,cost_text,coordinates,rooms,add_feat
https://www.domain.com.au/817-39-coventry-street-southbank-vic-3006-10766251,817/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,460,"[-37.8294033, 144.9692407]","[[2 Beds], [1 Bath], []]","[air conditioning, built in wardrobes, furnish..."
https://www.domain.com.au/1505-39-coventry-street-southbank-vic-3006-16098319,1505/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,650,"[-37.8294033, 144.9692407]","[[2 Beds], [2 Baths], [1 Parking]]","[internal laundry, inside, gym, intercom, buil..."
https://www.domain.com.au/3306-151-city-road-southbank-vic-3006-16100837,3306/151 City Road Southbank VIC 3006,Apartment / Unit / Flat,610.00,"[-37.8236674, 144.9631638]","[[2 Beds], [2 Baths], [1 Parking]]","[gas, internal laundry, heating, secure parkin..."
https://www.domain.com.au/168-100-kavanagh-street-southbank-vic-3006-16100841,168/100 Kavanagh Street Southbank VIC 3006,Apartment / Unit / Flat,480.00,"[-37.8251485, 144.9627575]","[[1 Bed], [1 Bath], [1 Parking]]","[gas, internal laundry, intercom, secure parki..."
https://www.domain.com.au/1412-151-city-road-southbank-vic-3006-16100836,1412/151 City Road Southbank VIC 3006,Apartment / Unit / Flat,620.00,"[-37.8236674, 144.9631638]","[[2 Beds], [2 Baths], [1 Parking]]","[gas, internal laundry, secure parking, gym, h..."

In [293]:
out = rental_final_df['add_feat'].explode().value_counts().index[:25].tolist()

In [294]:
#out

In [295]:
# now we want to only keep these these top 25, this is probably not the best way to find the most important features for pricing
# not sure this is the cleanest code
rental_final_df['add_feat'] = rental_final_df['add_feat'].apply(lambda x: [v for v in x if v in out])

In [296]:
rental_final_df.head()

,name,prop_type,cost_text,coordinates,rooms,add_feat
https://www.domain.com.au/817-39-coventry-street-southbank-vic-3006-10766251,817/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,460,"[-37.8294033, 144.9692407]","[[2 Beds], [1 Bath], []]","[air conditioning, built in wardrobes, dishwas..."
https://www.domain.com.au/1505-39-coventry-street-southbank-vic-3006-16098319,1505/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,650,"[-37.8294033, 144.9692407]","[[2 Beds], [2 Baths], [1 Parking]]","[internal laundry, inside, gym, intercom, buil..."
https://www.domain.com.au/3306-151-city-road-southbank-vic-3006-16100837,3306/151 City Road Southbank VIC 3006,Apartment / Unit / Flat,610.00,"[-37.8236674, 144.9631638]","[[2 Beds], [2 Baths], [1 Parking]]","[gas, internal laundry, heating, secure parkin..."
https://www.domain.com.au/168-100-kavanagh-street-southbank-vic-3006-16100841,168/100 Kavanagh Street Southbank VIC 3006,Apartment / Unit / Flat,480.00,"[-37.8251485, 144.9627575]","[[1 Bed], [1 Bath], [1 Parking]]","[gas, internal laundry, intercom, secure parki..."
https://www.domain.com.au/1412-151-city-road-southbank-vic-3006-16100836,1412/151 City Road Southbank VIC 3006,Apartment / Unit / Flat,620.00,"[-37.8236674, 144.9631638]","[[2 Beds], [2 Baths], [1 Parking]]","[gas, internal laundry, secure parking, gym, h..."

In [297]:
rental_final_df['add_feat'].explode().value_counts().count()

25

In [298]:
# Will need to create columns for each room and add_featr? 
#https://stackoverflow.com/questions/29034928/pandas-convert-a-column-of-list-to-dummies
test = pd.get_dummies(rental_final_df['add_feat'].apply(pd.Series).stack()).sum(level=0)

/tmp/ipykernel_1133/848817753.py:3: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  test = pd.get_dummies(rental_final_df['add_feat'].apply(pd.Series).stack()).sum(level=0)
/tmp/ipykernel_1133/848817753.py:3: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  test = pd.get_dummies(rental_final_df['add_feat'].apply(pd.Series).stack()).sum(level=0)

In [299]:
rental_final_df = rental_final_df.join(test)

In [300]:
rental_final_df.head()

,name,prop_type,cost_text,coordinates,rooms,add_feat,air conditioning,balcony deck,bath,broadband internet access,...,intercom,internal laundry,no extra features listed,outdoor entertainment area,remote garage,secure parking,shed,split system air con,split system heating,study
https://www.domain.com.au/817-39-coventry-street-southbank-vic-3006-10766251,817/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,460,"[-37.8294033, 144.9692407]","[[2 Beds], [1 Bath], []]","[air conditioning, built in wardrobes, dishwas...",1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
https://www.domain.com.au/1505-39-coventry-street-southbank-vic-3006-16098319,1505/39 Coventry Street Southbank VIC 3006,Apartment / Unit / Flat,650,"[-37.8294033, 144.9692407]","[[2 Beds], [2 Baths], [1 Parking]]","[internal laundry, inside, gym, intercom, buil...",0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
https://www.domain.com.au/3306-151-city-road-southbank-vic-3006-16100837,3306/151 City Road Southbank VIC 3006,Apartment / Unit / Flat,610.00,"[-37.8236674, 144.9631638]","[[2 Beds], [2 Baths], [1 Parking]]","[gas, internal laundry, heating, secure parkin...",1.0,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
https://www.domain.com.au/168-100-kavanagh-street-southbank-vic-3006-16100841,168/100 Kavanagh Street Southbank VIC 3006,Apartment / Unit / Flat,480.00,"[-37.8251485, 144.9627575]","[[1 Bed], [1 Bath], [1 Parking]]","[gas, internal laundry, intercom, secure parki...",1.0,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
https://www.domain.com.au/1412-151-city-road-southbank-vic-3006-16100836,1412/151 City Road Southbank VIC 3006,Apartment / Unit / Flat,620.00,"[-37.8236674, 144.9631638]","[[2 Beds], [2 Baths], [1 Parking]]","[gas, internal laundry, secure parking, gym, h...",1.0,1.0,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [301]:
rental_final_df.to_csv("../data/curated/internal_rental.csv", index = False)